taipy==4.1.1
psycopg2-binary==2.9.10
mplsoccer==1.6.1
pandas==2.2.3
numpy==1.26.4
pydantic==2.12.5
pydantic-settings==2.13.1
requests==2.33.1
databricks-sdk==0.50.0
huggingface-hub>=1.5.0
scipy==1.15.3
plotly==5.24.1
